body {
	height: 100% !important;
}
#pack-nav {
	background-color: #009e8e;
	border-color: #a6e5de;
}
#pack-nav a {
	color: #fff;
}
#title {
	background-color: #fff;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}
#stick {
	height: 50px;
}
#footer {
	background-color: #009e8e;
	padding: 10px 0 0 0;
	height: 50px;
	position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFF;
}